#logs {
    font-family: monospace, sans-serif;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #ffffff;
    font-size: 0.6em;
    width: 80%;
}

.log-entry {
    padding: 5px;
    border-bottom: 1px dotted #aaa;
}

.log-timestamp {
    color: #666;
    font-size: 0.5em;
}