#openseadragon1{
    width: 100%;
    height: 100vh;
}

#logs {
    width: 100%;
    height: 200px;
    overflow: auto;
    font-family: monospace, sans-serif;
    border: 1px solid #ccc;
    background-color: #ffffff;
    font-size: 0.6em;
}

.log-entry {
   max-width: 90%;
}

.log-timestamp {
    color: #666;
    font-size: 0.5em;
}